<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow direct access to API folder and PHP scripts
  RewriteRule ^api/ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !\.php$
  
  # Forward everything else to React's index.html
  RewriteRule . /index.html [L]
</IfModule>
